.header {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}
.top-header {
    display: flex;
    flex-direction: row;
}

.navbar-left {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar-left,.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header-content {
   display: flex;
   flex-direction: row;
   margin: 50px;
}

.header-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-content-left,.header-content-right {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.header-image {
    height: 250px;
    width: 500px;
    margin: 50px;
}

.sign-up-top {
    background-color: #3882F6;
    color: white;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}